.idea
/out/
/resources/
/hugo
/public
/draft/
vendor/*/
hugo.exe

*.test
*.prof
nohup.out
cover.out
*.swp
*.swo
.DS_Store
*~

*.bench
*.debug
coverage*.out

dock.sh

GoBuilds
dist

hugolib/hugo_stats.json
resources/sunset.jpg

vendor
/content/school/frontend/fe-exercises/00-solution/
/draft/assets/
